/*
 *
 * SOURCE: https://github.com/nukusaba/urn-livesplit
 *
*/
* {
  outline-color: transparent;
  outline: none;
  transition: none;
  box-shadow: none;
}

scrollbar*, scrollbar slider, scrollbar {
  background: none;
  border: none;
  color: transparent;
}

.window,
.attempt-count,
.time, .delta,
.timer,
.timer-seconds,
.timer-millis,
.delay,
.splits,
.split,
.current-split,
.split-title,
.split-icon,
.split-time,
.split-delta,
.split-last,
.done,
.behind,
.losing,
.best-segment,
.best-split,
.footer,
.prev-segment-label,
.prev-segment,
.sum-of-bests-label,
.sum-of-bests,
.personal-best-label,
.personal-best,
.world-record-label,
.world-record {
  font-family: Noto Sans;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7);
  padding: 0;
  margin: 0;
}

.header, .title {
  font-family: Noto Sans;
  text-shadow: 4px 2px 0px rgba(0, 0, 0, 0.7);
  padding: 0;
  margin: 0;
}

.window {
  background-color: #0F0F0F;
  color: #ffffff;
  margin: -8px;
}

.header {
  background-image: linear-gradient(to bottom, #2A2A2A, #131313);
  min-height: 30px;
  font-weight: bold;
  margin-left: -8px;
  margin-right: -8px;
}

.title {
  color: #ffffff;
  font-size: 10pt;
}

.attempt-count {
  color: #ffffff;
  font-size: 10pt;
  margin-bottom: 1px;
  margin-top: 10px;
  margin-right: 16px;
}

.footer {
  padding-right: 17px;
  padding-left: 15px;
  background: linear-gradient(to bottom, #1C1C1C, #0D0D0D);
  margin: 0 -8px;
}

.prev-segment-label,
.prev-segment,
.sum-of-bests-label,
.sum-of-bests,
.personal-best-label,
.personal-best,
.world-record-label,
.world-record {
  padding-bottom: 4px;
  padding-top: 3px;
}

.window box:nth-child(2):not(.split) {
  background-color: #0F0F0F;
  margin-right: -8px;
  margin-left: -8px;
}

.split {
  color: #ffffff;
  background-color: #0F0F0F;
  min-height: 24px;
  padding-left: 15px;
  padding-right: 17px;
}
.split:nth-child(even) {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.0039);
  border-top: 1px solid rgba(255, 255, 255, 0.01176);
  border-bottom: 1px solid rgba(255, 255, 255, 0.01176);
}
.split.split.current-split {
  color: #ffffff;
  background-image: linear-gradient(to bottom, #3373F4, #153574);
}

.split-icon {
  min-height: 24px;
  min-width: 24px;
  padding: 0;
  margin: 0;
}

.split-last {
  border-top: 2px solid rgba(255, 255, 255, 0.1412);
  background-color: rgba(255, 255, 255, 0.0039);
  padding-right: 8px;
  padding-left: 8px;
}

.time,
.split-time {
  font-weight: bold;
}

.timer {
  color: #00CC36;
  font-size: 37pt;
  font-family: Noto Mono;
  font-weight: bold;
  padding-right: 8px;
  font-weight: bold;
}

.timer-millis {
  font-size: 26pt;
  padding-bottom: 4px;
}

.timer.behind {
  color: #CC5C52;
}

.timer.losing {
  color: #CC1200;
}

.timer.delay {
  color: #ACACAC;
}

.delta {
  color: #00CC36;
  font-weight: bold;
}

.losing {
  color: #70CC89;
}

.behind {
  color: #CC5C52;
}

.behind.losing {
  color: #CC1200;
}

.best-segment {
  color: #D8AF1F;
}

.best-split {
  color: #16A6FF;
}

menubar,
.menubar {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.0039);
  padding: 2px;
  border-radius: 0;
}

menu,
.menu {
  background-color: #0F0F0F;
  border: 1px solid rgba(255, 255, 255, 0.1412);
  padding: 0;
  border-radius: 0;
}

menuitem {
  color: #ffffff;
  border: none;
  border-radius: 0;
}

menuitem:hover {
  background-image: linear-gradient(to bottom, #3373F4, #153574);
  border: none;
  border-radius: 0;
}

/*# sourceMappingURL=live-split.css.map */
