@define-color ls_bg #0F0F0F;
@define-color ls_fg #ffffff;
@define-color ls_title_bg_c1 #2A2A2A;
@define-color ls_title_bg_c2 #131313;
@define-color ls_split_bg_alt rgba(255,255,255,0.0039);
@define-color ls_split_bg_current_c1 #3373F4;
@define-color ls_split_bg_current_c2 #153574;
@define-color ls_footer_bg_c1 #1C1C1C;
@define-color ls_footer_bg_c2 #0D0D0D;
@define-color ls_thin_sep_c rgba(255,255,255,0.01176);
@define-color ls_sep_c rgba(255,255,255,0.1412);
@define-color ls_fg_shadow rgba(0,0,0,0.7);
@define-color timer_paused_fg #7A7A7A;
@define-color timer_off_fg #ACACAC;
@define-color pb_fg #16A6FF;
@define-color losing_fg #CC1200;
@define-color behind_fg #CC5C52;
@define-color ahead_losing_fg #70CC89;
@define-color ahead_fg #00CC36;
@define-color sob_fg #D8AF1F;

*{outline-color: transparent; outline: none;}

scrollbar*,scrollbar slider,scrollbar{background-color: transparent; border: none; color: transparent;}

.window,.attempt-count,.time,.delta,.timer,.timer-seconds,.timer-millis,.delay,.splits,.split,.current-split,.split-title,.split-icon,.split-time,.split-delta,.split-last,.done,.behind,.losing,.best-segment,.best-split,.footer,.prev-segment-label,.prev-segment,.sum-of-bests-label,.sum-of-bests,.personal-best-label,.personal-best,.world-record-label,.world-record{font-family: Noto Sans; text-shadow: 2px 2px 0px @ls_fg_shadow;  padding: 0; margin: 0;}
.header,.title {font-family: Noto Sans; text-shadow: 4px 2px 0px @ls_fg_shadow; padding: 0; margin: 0;}

.window{background-color: @ls_bg; color: @ls_fg; margin: -8;}
.header{background-image: linear-gradient(to bottom, @ls_title_bg_c1, @ls_title_bg_c2); min-height: 30px; font-weight: bold; margin-left: -8px; margin-right: -8px;}
.title{color: @ls_fg; font-size: 10pt;}
.attempt-count{color: @ls_fg; font-size: 10pt; margin-bottom: 1px; margin-top: 10px; margin-right: 16px;}
.delta{color: @ahead_fg;}
.timer{color: @ahead_fg; font-size: 37pt; font-family: Noto Mono; font-weight: bold; padding-right: 8px;}
.timer-millis{font-size: 26pt; padding-bottom: 4px;}
.timer.behind{color: @behind_fg;}
.timer.losing{color: @losing_fg;}
.timer.delay{color: @timer_off_fg;}

/* .splits box, required targeting like this to ensure there is no margin on the splits */
.window box:nth-child(2):not(.split){background-color: @ls_bg;margin-right: -8px; margin-left: -8px;}

.split{color: @ls_fg; background-color: @ls_bg; min-height: 24px; padding-left: 15px; padding-right: 17px;}
.time,.split-time{font-weight: bold;}
.split:nth-child(even){color: @ls_fg; background-color: @ls_split_bg_alt; border-top: 1px solid @ls_thin_sep_c; border-bottom: 1px solid @ls_thin_sep_c;}
.split.current-split{color: @ls_fg; background-image: linear-gradient(to bottom, @ls_split_bg_current_c1, @ls_split_bg_current_c2);}
.split-icon{min-height: 24px; min-width: 24px; padding: 0; margin: 0;}
.split-last{border-top: 2px solid @ls_sep_c; background-color: @ls_split_bg_alt; padding-right: 8px; padding-left: 8px;}
.losing{color: @ahead_losing_fg;}
.behind{color: @behind_fg;}
.behind.losing{color: @losing_fg;}
.best-segment{color: @sob_fg;}
.best-split{color: @pb_fg;}
.footer{padding-right: 17px; padding-left: 15px; background: linear-gradient(to bottom, @ls_footer_bg_c1, @ls_footer_bg_c2); margin: 0 -8px;}
.prev-segment-label,.prev-segment,.sum-of-bests-label,.sum-of-bests,.personal-best-label,.personal-best,.world-record-label,.world-record{ padding-bottom: 4px; padding-top: 3px;}
