name: Compile for Linux

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install build-essential libgtk-3-dev libjansson-dev imagemagick xxd fonts-dejavu
    - name: Compile
      run: |
        make
    # We don't upload the artifact since it wouldn't work without appropriate
    # libraries and installation.
